cnnlayer/layer_example_bf16
cnnlayer/layer_example_f32
cnnlayer/layer_example_i8i32
cnnlayer/layer_example_i16f32
cnnlayer/layer_example_i16i32
cnnlayer/layer_example_qi16f32
fullyconnecteddriver/fourlayer_example_bf16
fullyconnecteddriver/fourlayer_example_f32
fullyconnecteddriver/layer_example_bf16
fullyconnecteddriver/layer_example_bf16_f32
fullyconnecteddriver/layer_example_f32
fullyconnecteddriver/layer_example_bf16_sparse_A
fusedbndriver/layer_example_bf16
fusedbndriver/layer_example_f32
fusedgndriver/layer_example_f32
sparse_weight_mult/parallel_sparse_weight_B_mult
sparse_weight_mult/parallel_sparse_weight_C_redmult
sparse_weight_mult/simple
sparse_weight_mult/sparse_weight_A_mult
sparse_weight_mult/sparse_weight_B_mult
sparse_weight_mult/sparse_weight_C_redmult
grudriver/grudriver_nc_ck
grudriver/grudriver_nc_kcck
lstmdriver/lstmdriver_nc_ck
lstmdriver/lstmdriver_nc_ck_bf16
lstmdriver/lstmdriver_nc_kcck
lstmdriver/lstmdriver_nc_kcck_bf16
poolingdriver/layer_example_bf16
poolingdriver/layer_example_f32
rnndriver/rnndriver_nc_ck
rnndriver/rnndriver_nc_kcck
rnndriver/rnndriver_ncnc_kcck
