.generate_opreduce_test_scripts
.generate_unary_simple_test_scripts
.generate_unary_transform_test_scripts
.generate_unary_relu_test_scripts
.generate_unary_dropout_test_scripts
opreduce_op_*_redop_*.sh
unary_*.sh
