Pennycook <john.pennycook@intel.com> John Pennycook
alazzaro <alfio.lazzaro@gmail.com>
alheinecke <alexander.heinecke@intel.com> <heinecke.alex@gmail.com>
alheinecke <alexander.heinecke@intel.com> Alexander Heinecke
alheinecke <heinecke.alex@gmail.com> Alexander Heinecke
ankushmandal <ankush.mandal@intel.com>
ankushmandal <ankush.mandal@intel.com> <ankushmandal19@gmail.com>
benoitsteiner <benoit.steiner.goog@gmail.com> <benoitsteiner@users.noreply.github.com>
benoitsteiner <benoit.steiner.goog@gmail.com> Benoit Steiner
breuera <anbreuer@ucsd.edu> Alexander Nikolas Breuer
danielpeter <daniel.peter22@gmail.com>
ddkalamk <dhiraj.d.kalamkar@intel.com> Dhiraj D Kalamkar
dev-zero <tiziano.mueller@chem.uzh.ch> Tiziano Müller
dmudiger <dheevatsa.mudigere@intel.com>
dmudiger <dheevatsa.mudigere@intel.com> <dmudiger@users.noreply.github.com>
egeor <evangelos.georganas@intel.com> <egeor@eecs.berkeley.edu>
egeor <evangelos.georganas@intel.com> <egeorgan@abhewitt-mobl3.amr.corp.intel.com>
egeor <evangelos.georganas@intel.com> <egeorgan@abniemei-mobl.amr.corp.intel.com>
egeor <evangelos.georganas@intel.com> <egeorgan@aculasx-mobl.gar.corp.intel.com>
egeor <evangelos.georganas@intel.com> <egeorgan@brsisson-mobl.amr.corp.intel.com>
egeor <evangelos.georganas@intel.com> <egeorgan@dfugazza-mobl.amr.corp.intel.com>
egeor <evangelos.georganas@intel.com> <egeorgan@egeorgan-mac01.local>
egeor <evangelos.georganas@intel.com> <egeorgan@egeorgan-mac01.sc.intel.com>
egeor <evangelos.georganas@intel.com> <egeorgan@esboley-mobl.amr.corp.intel.com>
egeor <evangelos.georganas@intel.com> <egeorgan@gbriones-mobl2.amr.corp.intel.com>
egeor <evangelos.georganas@intel.com> <egeorgan@hkambard-mobl1.amr.corp.intel.com>
egeor <evangelos.georganas@intel.com> <egeorgan@hkim6-mobl1.amr.corp.intel.com>
egeor <evangelos.georganas@intel.com> <egeorgan@hmehl-mobl1.ger.corp.intel.com>
egeor <evangelos.georganas@intel.com> <egeorgan@nkpatel-mobl1.amr.corp.intel.com>
egeor <evangelos.georganas@intel.com> <egeorgan@sraman1-mobl.amr.corp.intel.com>
egeor <evangelos.georganas@intel.com> <egeorgan@ssmajors-mobl.amr.corp.intel.com>
egeor <evangelos.georganas@intel.com> <egeorgan@swagne2-mobl.amr.corp.intel.com>
egeor <evangelos.georganas@intel.com> <egeorgan@trobert1-mobl1.ger.corp.intel.com>
egeor <evangelos.georganas@intel.com> <egeorgan@vbmontoy-mobl.amr.corp.intel.com>
egeor <evangelos.georganas@intel.com> egeorgan
geoffreyQiu <juq005@ucsd.edu> <geoffrey0824@sjtu.edu.cn>
geoffreyQiu <juq005@ucsd.edu> Junyi Qiu
gmhenry <greg.henry@intel.com> <gmhenry@jflmkl025.jf.intel.com>
gmhenry <greg.henry@intel.com> <gmhenry@jflmkl039.jf.intel.com>
gmhenry <greg.henry@intel.com> <gmhenry@juniper.jf.intel.com>
gmhenry <greg.henry@intel.com> <gmhenry@mkl-knl-05.jf.intel.com>
gmhenry <greg.henry@intel.com> <gmhenry@mkl-knl-06.jf.intel.com>
gmhenry <greg.henry@intel.com> <gmhenry@mkl-knl-12-01.jf.intel.com>
gmhenry <greg.henry@intel.com> <gmhenry@mugwort.jf.intel.com>
gmhenry <greg.henry@intel.com> Greg Henry
hfp <hans.pabst@intel.com> <ec_sw_sl_git@intel.com>
hfp <hans.pabst@intel.com> <hf.pabst@gmail.com>
hfp <hans.pabst@intel.com> <hfp@users.noreply.github.com>
hfp <hans.pabst@intel.com> Hans Pabst
jasonsewall-intel <jason.sewall@intel.com> Jason Sewall
jeffhammond <jeff.science@gmail.com> Jeff Hammond
jewillco <jewillco@google.com> Jeremiah J. Willcock
jspark1105 <jongsoo.park@intel.com> <jongsoo.park@gmail.com>
jspark1105 <jongsoo.park@intel.com> Jongsoo Park
kunalbanerjee <kunal.banerjee@intel.com> <kunal.banerjee.cse@gmail.com>
kunalbanerjee <kunal.banerjee@intel.com> Kunal Banerjee
maxhutch <maxhutch@gmail.com> Max Hutchinson
mdebski <maciejd@google.com> <md319428@students.mimuw.edu.pl>
mdebski <maciejd@google.com> Maciej DÄ™bski
nrsatish <nadathur.rajagopalan.satish@intel.com>
nrsatish <nadathur.rajagopalan.satish@intel.com> <nrsatish@users.noreply.github.com>
rajbarik <rajkishore.barik@intel.com> <rajbarik@users.noreply.github.com>
rajbarik <rajkishore.barik@intel.com> Raj Barik
savancha <sasikanth.avancha@intel.com> Sasikanth Avancha
taknevski <anand.venkat@intel.com>
taknevski <anand.venkat@intel.com> <avenkat@ssr-nfs1.sc.intel.com>
cseo <cseo@linux.vnet.ibm.com> Carlos Eduardo Seo
courbet <courbet@google.com> Clement Courbet
