---
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: 'true'
AlignEscapedNewlines: DontAlign
AlignTrailingComments: 'false'
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: 'true'
BreakBeforeBraces: Stroustrup
ColumnLimit: '132'
ContinuationIndentWidth: '2'
IndentCaseLabels: 'true'
IndentPPDirectives: AfterHash
IndentWidth: '2'
KeepEmptyLinesAtTheStartOfBlocks: 'false'
MaxEmptyLinesToKeep: '2'
PointerAlignment: Left
ReflowComments: 'false'
SortIncludes: 'false'
UseTab: Never

...
