.env export-ignore
.hooks export-ignore
.theme export-ignore
.codefile export-ignore
.gitattributes export-ignore
.gitconfig export-ignore
.gitignore export-ignore
.travis.sh export-ignore
*.json export-ignore
*.yml export-ignore
README.sh export-ignore
documentation/*.pptx export-ignore
scripts/tool_*.sh export-ignore
samples/seissol/*.bound export-ignore
samples/seissol/*.neigh export-ignore
samples/seissol/*.orient export-ignore
samples/seissol/*.sides export-ignore
samples/seissol/*.size export-ignore
samples/edge/mats export-ignore
samples/pyfr/mats export-ignore
version.txt merge=ours
