.hooks/.commit
include/libxsmm.f
include/libxsmm.h
include/libxsmm_generator.h
build/libxsmm_dispatch.h
build/mm_*_*_*.c
bin/generator
ide/_vs2015-*.bat
ide/*.amplxeproj
ide/build
tmp
notes.txt
err*.txt
out*.txt
_*.txt
*.stackdump
*.docx
*.user
*.tlog
*.log
*.suo
*.exe
*.zip
*.pyc
*.sdf
*.ilk
*.pdb
*.obj
*.lib
*.mod
*.bin
*.o
*.a
*.*~
