.gitattributes export-ignore
.gitignore export-ignore
.hooks export-ignore
.travis.yml export-ignore
.codecov export-ignore
.env export-ignore
README.sh export-ignore
samples/seissol/*.bound export-ignore
samples/seissol/*.neigh export-ignore
samples/seissol/*.orient export-ignore
samples/seissol/*.sides export-ignore
samples/seissol/*.size export-ignore
