My Amplifier*
opentuner.db
bin/libxsmm_generator
include/libxsmm_config.h
include/libxsmm_source.h
include/libxsmm.f
include/libxsmm.h
build/libxsmm_dispatch.h
build/mm_*_*_*.c
build/*/*/*.xml
lib/libxsmm*
ide/_vs*-*.bat
ide/.vs
ide/build
ide/r*ah
samples2
site
tmp
.state
.make
codecov-*.txt
keywords.txt
notes.txt
err*.txt
out*.txt
_*.txt
.libxsmm_??????.*
*.lastcodeanalysissucceeded
*.amplxeproj
*.advixeproj
*.inspxeproj
*.stackdump
*.opensdf
*.opendb
*.VC.db
*.dylib
*.docx
*.user
*.tlog
*.gcno
*.gcda
*.gcov
*.html
*.iobj
*.ipdb
*.URL
*.log
*.suo
*.exe
*.zip
*.pyc
*.sdf
*.ilk
*.pdb
*.obj
*.lib
*.mod
*.bin
*.jit
*.smm
*.soa
*.csr
*.dll
*.mhd
*.so
*.o
*.a
*.i
*.s
*.*~
