My Amplifier*
VTune Amplifier Results
libxsmm*-*
libxsmm*_*
opentuner.db
bin/libxsmm_generator
include/libxsmm_config.h
include/libxsmm_source.h
include/libxsmm.f
include/libxsmm.h
build
lib/libxsmm*
lib/module
ide/GPUCache
ide/_vs*-*.bat
ide/.vs
ide/build
ide/r*ah
samples2
samples/*/bin
samples/*/*.sln
samples/*/*.dat
samples/*/*.pdf
samples/*/*.png
inspector*
python
html
site
bin
tmp
.vscode
.state
.make
threadsafety-*.txt
malloc-trace-*.txt
blas-trace-*.txt
codecov-*.txt
keywords.txt
notes.txt
err*.txt
out*.txt
log.txt
_*.txt
.libxsmm_??????.*
*.lastcodeanalysissucceeded
*.amplxeproj
*.advixeproj
*.inspxeproj
*.stackdump
*.opensdf
*.opendb
*.VC.db
*.dylib
*.sarif
*.docx
*.user
*.tlog
*.gcno
*.gcda
*.gcov
*.html
*.iobj
*.ipdb
*.URL
*.log
*.suo
*.exe
*.zip
*.pyc
*.sdf
*.ilk
*.pdb
*.vsp
*.obj
*.lib
*.mod
*.bin
*.jit
*.smm
*.soa
*.csr
*.dll
*.mhd
*.out
*.err
*.so
*.o
*.a
*.i
*.s
*.*~
