#sudo: false

os:
- linux
- osx

compiler:
  - clang
  - gcc

matrix:
  fast_finish: true
  allow_failures:
  - os: osx
  exclude:
  - os: osx
    compiler: gcc

env:
  matrix:
  - LIBXSMM_JIT=0
  - LIBXSMM_JIT=1

language: cpp

addons:
  apt:
    packages:
    - gfortran
    - libblas-dev
    - liblapack-dev
    - sshpass

before_install:
  - if [ "${TRAVIS_OS_NAME}" = "osx" ]; then brew update; fi

install:
  - pip install --user codecov
  - if [ "${TRAVIS_OS_NAME}" = "osx" ]; then
      cd /tmp && curl -O -L http://downloads.sourceforge.net/project/sshpass/sshpass/1.05/sshpass-1.05.tar.gz &&
        tar xvzf sshpass-1.05.tar.gz && cd sshpass-1.05 && ./configure && make && sudo make install &&
        cd ${TRAVIS_BUILD_DIR};
    fi

after_success:
  - eval ${RUNGCOV}
  - eval ${CODECOV} 

before_script:
  - source .env

script:
  - source .codecov $(if [ "${CXX}" == "g++" ]; then echo 1; else echo 0; fi) &&
    cd ${TRAVIS_BUILD_DIR} && make -e TRACE=1 ECFLAGS="-DREAL_TYPE=float ${ECFLAGS}" tests &&
    if [ "${CXX}" != "g++" ] && [ "${TRAVIS_OS_NAME}" != "osx" ]; then
      env LIBXSMM_TRACE=1 ${TRAVIS_BUILD_DIR}/tests/threadsafety 2> threadsafety-trace-${COVID}.txt; 
    fi &&
    make -e install-all PREFIX=libxsmm &&
    UPLOAD_FILE=artifact-${JOBID}-${COVID}.tgz && tar xfz ${UPLOAD_FILE} libxsmm &&
    eval ${UPLOAD} && make -e clean-all

  - source .codecov $(if [ "${CXX}" == "g++" ]; then echo 1; else echo 0; fi) &&
    cd ${TRAVIS_BUILD_DIR} && make -e TRACE=1 ECFLAGS="-DREAL_TYPE=double ${ECFLAGS}" tests &&
    if [ "${CXX}" != "g++" ] && [ "${TRAVIS_OS_NAME}" != "osx" ]; then
      env LIBXSMM_TRACE=1 ${TRAVIS_BUILD_DIR}/tests/threadsafety 2> threadsafety-trace-${COVID}.txt; 
    fi &&
    make -e install-all PREFIX=libxsmm &&
    UPLOAD_FILE=artifact-${JOBID}-${COVID}.tgz && tar xfz ${UPLOAD_FILE} libxsmm &&
    eval ${UPLOAD} && make -e clean-all

  - source .codecov $(if [ "${CXX}" == "g++" ]; then echo 1; else echo 0; fi) &&
    cd ${TRAVIS_BUILD_DIR} && ./make.sh -ci-rm -j &&
    ./make.sh -ci-rm test-cp2k &&
    ./make.sh -ci-rm tests &&
    make -e install-all PREFIX=libxsmm &&
    UPLOAD_FILE=artifact-${JOBID}-${COVID}.tgz && tar xfz ${UPLOAD_FILE} libxsmm &&
    eval ${UPLOAD} && make -e clean-all

  - source .codecov $(if [ "${CXX}" == "g++" ]; then echo 1; else echo 0; fi) &&
    cd ${TRAVIS_BUILD_DIR} && ./make.sh -ci-cm -j &&
    ./make.sh -ci-cm test-cp2k &&
    ./make.sh -ci-cm test-smm &&
    make -e install-all PREFIX=libxsmm &&
    UPLOAD_FILE=artifact-${JOBID}-${COVID}.tgz && tar xfz ${UPLOAD_FILE} libxsmm &&
    eval ${UPLOAD} && make -e clean-all

  - source .codecov $(if [ "${CXX}" == "g++" ]; then echo 1; else echo 0; fi) &&
    cd ${TRAVIS_BUILD_DIR} && ./make.sh -ci-cm -j STATIC=0 &&
    ./make.sh -ci-cm test-cp2k &&
    ./make.sh -ci-cm tests &&
    make -e install-all PREFIX=libxsmm &&
    UPLOAD_FILE=artifact-${JOBID}-${COVID}.tgz && tar xfz ${UPLOAD_FILE} libxsmm &&
    eval ${UPLOAD} && make -e clean-all

  - source .codecov $(if [ "${CXX}" == "g++" ]; then echo 1; else echo 0; fi) &&
    cd ${TRAVIS_BUILD_DIR} && ./make.sh -ci-cm -j SSE=0 AVX=0 &&
    ./make.sh -ci-cm test-smm &&
    make -e install-all PREFIX=libxsmm &&
    UPLOAD_FILE=artifact-${JOBID}-${COVID}.tgz && tar xfz ${UPLOAD_FILE} libxsmm &&
    eval ${UPLOAD} && make -e clean-all

  - source .codecov $(if [ "${CXX}" == "g++" ]; then echo 1; else echo 0; fi) &&
    cd ${TRAVIS_BUILD_DIR} && ./make.sh -ci-nek -j &&
    ./make.sh -ci-nek test-nek &&
    make -e install-all PREFIX=libxsmm &&
    UPLOAD_FILE=artifact-${JOBID}-${COVID}.tgz && tar xfz ${UPLOAD_FILE} libxsmm &&
    eval ${UPLOAD} && make -e clean-all

