diff/diff
diff/difff
math/math
dispatch/dispatch
dispatch/dispatchf
mhd/mhd
rng/rng
scratch/scratch
sync/sync_barrier
sync/sync_lock
wrap/dgemm-blas
wrap/dgemv-blas
wrap/dgemm-wrap
wrap/dgemv-wrap
wrap/autobatch
