Hans Pabst <hans.pabst@intel.com> <hf.pabst@gmail.com>
Hans Pabst <hans.pabst@intel.com> <ec_sw_sl_git@intel.com>
Hans Pabst <hans.pabst@intel.com> <hfp@users.noreply.github.com>
Hans Pabst <hans.pabst@intel.com> hfp
Alexander Heinecke <alexander.heinecke@intel.com>
Greg Henry <greg.henry@intel.com> <gmhenry@juniper.jf.intel.com>
Greg Henry <greg.henry@intel.com> <gmhenry@jflmkl025.jf.intel.com>
Greg Henry <greg.henry@intel.com> <gmhenry@mugwort.jf.intel.com>
Greg Henry <greg.henry@intel.com> <gmhenry@mkl-knl-05.jf.intel.com>
Greg Henry <greg.henry@intel.com> <gmhenry@mkl-knl-06.jf.intel.com>
Greg Henry <greg.henry@intel.com> <gmhenry@mkl-knl-12-01.jf.intel.com>
Evangelos Georganas <evangelos.georganas@intel.com> <egeorgan@egeorgan-mac01.sc.intel.com>
Evangelos Georganas <evangelos.georganas@intel.com> <egeorgan@nkpatel-mobl1.amr.corp.intel.com>
Evangelos Georganas <evangelos.georganas@intel.com> <egeorgan@abhewitt-mobl3.amr.corp.intel.com>
Evangelos Georganas <evangelos.georganas@intel.com> <egeorgan@abniemei-mobl.amr.corp.intel.com>
Evangelos Georganas <evangelos.georganas@intel.com> <egeorgan@brsisson-mobl.amr.corp.intel.com>
Evangelos Georganas <evangelos.georganas@intel.com> <egeorgan@dfugazza-mobl.amr.corp.intel.com>
Evangelos Georganas <evangelos.georganas@intel.com> <egeorgan@esboley-mobl.amr.corp.intel.com>
Evangelos Georganas <evangelos.georganas@intel.com> <egeorgan@gbriones-mobl2.amr.corp.intel.com>
Evangelos Georganas <evangelos.georganas@intel.com> <egeorgan@ssmajors-mobl.amr.corp.intel.com>
Evangelos Georganas <evangelos.georganas@intel.com> <egeorgan@swagne2-mobl.amr.corp.intel.com>
Evangelos Georganas <evangelos.georganas@intel.com> <egeorgan@hkambard-mobl1.amr.corp.intel.com>
Evangelos Georganas <evangelos.georganas@intel.com> <egeorgan@aculasx-mobl.gar.corp.intel.com>
Evangelos Georganas <evangelos.georganas@intel.com> <egeorgan@hmehl-mobl1.ger.corp.intel.com>
Evangelos Georganas <evangelos.georganas@intel.com> <egeorgan@hkim6-mobl1.amr.corp.intel.com>
Evangelos Georganas <evangelos.georganas@intel.com> <egeorgan@sraman1-mobl.amr.corp.intel.com>
Evangelos Georganas <evangelos.georganas@intel.com> <egeorgan@trobert1-mobl1.ger.corp.intel.com>
Evangelos Georganas <evangelos.georganas@intel.com> <egeorgan@vbmontoy-mobl.amr.corp.intel.com>
Evangelos Georganas <evangelos.georganas@intel.com> <egeorgan@egeorgan-mac01.local>
Evangelos Georganas <evangelos.georganas@intel.com> <egeor@eecs.berkeley.edu>
Evangelos Georganas <evangelos.georganas@intel.com> egeorgan
Benoit Steiner <benoit.steiner.goog@gmail.com> <benoitsteiner@users.noreply.github.com>
nrsatish <nadathur.rajagopalan.satish@intel.com> <nrsatish@users.noreply.github.com>
dmudiger <dheevatsa.mudigere@intel.com> <dmudiger@users.noreply.github.com>
taknevski <anand.venkat@intel.com> <avenkat@ssr-nfs1.sc.intel.com>
Kunal Banerjee <kunal.banerjee@intel.com> <kunal.banerjee.cse@gmail.com>
Kunal Banerjee <kunal.banerjee@intel.com> Banerjee, Kunal
Ankush Mandal <ankush.mandal@intel.com> <ankushmandal19@gmail.com>
Ankush Mandal <ankush.mandal@intel.com> ankushmandal
Raj Barik <rajkishore.barik@intel.com> <rajbarik@users.noreply.github.com>
Maciej Dębski <maciejd@google.com> <md319428@students.mimuw.edu.pl>
Jongsoo Park <jongsoo.park@gmail.com> <jongsoo.park@intel.com>
Jeffrey Qiu <juq005@ucsd.edu> <geoffrey0824@sjtu.edu.cn>
Jeffrey Qiu <juq005@ucsd.edu> Junyi Qiu
Daniel Peter <daniel.peter22@gmail.com>
Alfio Lazzaro <alfio.lazzaro@gmail.com>
