blocked_gemm/blocked_gemm
deeplearning/cnnlayer/layer_example_*
deeplearning/lstmdriver/lstmdriver_*
deeplearning/mlpdriver/mlp_example_*
edge/asparse_srsoa_*
edge/bsparse_scsoa_*
edge/bsparse_srsoa_*
edge/dense_packedacrm_*
edge/dense_packedbcrm_*
edge/edge_vol_int
eigen/eigen_smm
eigen/eigen_tensor
magazine/magazine_batch
magazine/magazine_blas
magazine/magazine_blaze
magazine/magazine_eigen
magazine/magazine_xsmm
matcopy/matcopy
matcopy/kernel
transpose/transpose
transpose/kernel
nek/axhm
nek/grad
nek/rstr
packed/trsm/gemm
packed/trsm/getrf
packed/trmm/trmm
packed/trsm/trsm
pyfr/pyfr_driver_asp_reg
pyfr/pyfr_gemm_cm
pyfr/pyfr_gemm_rm
specfem/specfem
spmdm/spmdm
*.txt
