deeplearning/cnnlayer/layer_example_*
deeplearning/convcaps/layer_example_*
deeplearning/lstmdriver/lstmdriver_*
deeplearning/mlpdriver/mlp_example_*
deeplearning/mlp_tpp/mlp_example_*
deeplearning/rnndriver/rnndriver_*
deeplearning/fullyconnected_tpp/layer_example_*
eltwise/eltwise_*
equation/equation_*
edge/asparse_packed_csr_*
edge/bsparse_packed_csc_*
edge/bsparse_packed_csr_*
edge/dense_packedacrm_*
edge/dense_packedbcrm_*
edge/edge_vol_int
eigen/eigen_smm
eigen/eigen_tensor
packed/trsm/gemm
packed/trsm/getrf
packed/trmm/trmm
packed/trsm/trsm
pyfr/pyfr_driver_asp_reg
pyfr/pyfr_gemm_cm
pyfr/pyfr_gemm_rm
spmdm/spmdm
*.txt
