deeplearning/sparse_weight_mult/parallel_sparse_weight_B_mult
deeplearning/sparse_weight_mult/parallel_sparse_weight_B_conv
deeplearning/sparse_weight_mult/parallel_sparse_weight_C_redmult
deeplearning/sparse_weight_mult/sparse_weight_A_mult
deeplearning/sparse_weight_mult/sparse_weight_B_mult
deeplearning/sparse_weight_mult/sparse_weight_C_redmult
eltwise/eltwise_*
equation/equation_*
edge/asparse_packed_csr_*
edge/bsparse_packed_csc_*
edge/bsparse_packed_csr_*
edge/dense_packedacrm_*
edge/dense_packedbcrm_*
edge/edge_vol_int
eigen/eigen_smm
eigen/eigen_tensor
packed/trsm/gemm
packed/trsm/getrf
packed/trmm/trmm
packed/trsm/trsm
pyfr/pyfr_driver_asp_reg
*.txt
